# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# IDE
.vscode/

# Model artifacts (optional: already committed if you want)
# /models/
